@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

.page {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.page-bright-image {
    background-image:url(../images/background-bright.jpg);
}

.page-dark-image {
    background-image:url(../images/background-dark.jpg);
}

div {
    margin-bottom: 30px;
}

img {
    border-radius: 100%;
    height:inherit;
    width: inherit;
}

button {
    height: 30px; /* Increase the button size to better contain the image */
    width: 30px; /* Increase the button size to better contain the image */
    border-radius: 100%;
    border: none;
    display: flex; /* Allows content inside the button to be centered */
    align-items: center; /* Vertically centers the image */
    justify-content: center; /* Horizontally centers the image */
    background-color: transparent;
    cursor: pointer;
}

.navbar-items, .day-and-date {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name {
    padding-top: 30px;
}

.navbar, .day-and-date {
    text-align: center;
    margin-top: 20px;
}

.headers {
    margin-bottom: 10px;
    text-align: center;
}

.cards{
    width: 300px;
    text-align: justify;
    padding-bottom: 10px;
    padding-top: 10px;
    word-wrap:break-word;
}

.page-bright-image .navbar, .page-bright-image .cards, .page-bright-image .day-and-date {
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(252, 194, 127);
}

.page-dark-image .navbar, .page-dark-image .cards, .page-dark-image .day-and-date {
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgb(255, 101, 101);
}

.todays-fact, .random-fact {
    margin: 15px;
}

.random-fact-header {
    display:flex;
    margin-bottom: -10px;
}

.random-fact-header .headers {
    flex:10;
    padding-left:40px;
}

.refresh-button {
    flex:1;
    padding-right: 15px;
}

.glass-morph {
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* some of the broser that don't support backdrop-filter */
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0.2)
    );
}
